<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center"><font color="red">Oops, something went wrong. We notified our developers about the error and it will be resolved ASAP</font></h1>
<h3 align="center"><font color="red"> We notified our developers about the error and it will be resolved ASAP</font></h3>
<br><br><br><br>
<#--<c:forEach items="${exception.stackTrace}" var="element">
    <c:out value="${element}">
</c:forEach>-->
<br>
<br>
<h3 align="center">${exception}</h3>
<#--<#list exception.stackTrace as line>
    ${line} <br>
</#list>-->
</body>
</html>